body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Cuprum', 'Arial', sans-serif;

    color: #000000;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    min-width: 960px;
}

a {
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    color: #000000;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}


/*============*/
/* main-header*/
/*============*/

/* header-top */

.header-top {
    margin: 0 auto;
    background-color: #293449;
    color: #ffffff;
    height: 42px;
}

.header-caption {
	display: flex;
	align-items: center;
	justify-content: center;
    background-color: #ee3643;
	color: #ffffff;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    font-size: 24px;
    text-transform: uppercase;
    width: 220px;
    height: 47px;
}

.search-field {
	width: 194px;
	border: none;
}


.search-field,
.button-header-bookmarks,
.button-header-basket,
.button-header-order  {
    height: 42px;
    background-color: #293449;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-field::placeholder {
    color: #ffffff;
}


.button-header-order {
	background-color: #63a63e;
	width: 150px;
	height: 42px;
	text-align: center;
}

/* main-header-navigation */

.main-header-navigation {
	background-color: #f3f7f9;

}

.header-content {
	min-height: 159px;
}

.header-content h1 {
	width: 196px;
	color: #ee3643;
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
	font-weight: normal;
	padding-top: 50px;
	margin-left: 50px;
	margin-top: -1px;
}

.header-contacts {
	width: 270px;
	padding-top: 46px
}

.header-contacts a {
	width: 262px;
	color: #ee3643;
	font-size: 21px;
	line-height: 21px;
	border: 3px solid #ffffff;
	text-align: center;
	padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-contacts p {
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	padding-top: 2px;
	text-align: center;
}

.user-login {
	width: 300px;
	padding-top: 46px;
}

.header-login {
	margin-top: 46px;
}

.user-enter,
.user-registration,
.account-inner {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    padding-top: 14px;
    padding-bottom: 14px
}

.user-enter {
	width: 121px;
	text-align: center;
    padding-left: 10px;
    margin-right: 10px;
}

.user-registration {
	width: 150px;
	text-align: center;
}

.account-hidden {
	margin-top: 46px;
}

.account-inner {
	width: 300px;
}

.account-name {
	width: 240px;
	padding-left: 47px;
}

.account-breadcrumbs {
	width: 210px;
	color: #32425c;
	font-size: 16px;
	line-height: 18px;
	margin-top: 6px;
    margin-left: 18px; 
}

/* main-menu */

.main-menu-wrapper {
	margin: 0 auto;
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
}

.main-menu {
    background-color: #32425c;
    box-shadow: inset 0 -5px 0 #293449;
}

.main-menu-list {
	margin: 0 auto; 
}

.main-menu-item a {
	padding-left: 30px;
    padding-right: 31px;
    font-size: 17px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 17px;
}


/* product list */


.product-slider {
	width: 940px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.product-item {
	width: 300px;
	padding-top: 20px;
	height: 104px;
	margin-left: 16px;
	margin-bottom: 20px;
	display: inline-block;
}

.product-item:first-child {
	margin-left: 0;
}

.product-item h3 {
	width: 150px;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
	margin: 0;
	padding-left: 23px;
}

.product-item a {
	width: 135px;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 3px;
	margin-top: 20px;
	margin-left: 25px;
}

.product-1 {
	background-color: #ffbf47;
}

.product-2 {
	background-color: #3bbce3;
}

.product-3 {
	background-color: #dc91d8;
}

.product-discount {
   background-color: #8ed78f;
}

.product-delivery {
	background-color: #ffc047;
}

.slides-catalog {
	float: left;
	width: 620px;
	min-height: 266px;
	margin-left: 0;
	margin-top: -35px;
}

.slider-1 h3,
.slider-2 h3 {
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
	text-transform: uppercase;
}


.slider-1 h3 {
	width: 94px;
}

.slider-2 h3 {
	width: 210px;
}

.slider-1 p,
.slider-2 p {
	font-size: 18px;
	line-height: 24px;
}

.slider-1 p {
	width: 143px;
}

.slider-2 p {
	width: 206px;
}

.slider-2 {
	display: none;
}

.button-catalog {
	width: 195px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
}

.goods-caption,
.maker-caption {
	background-color: #f9f5f0;
    color: #32425c;
    width: 940px;
    margin-top: 20px;
}

.goods-caption h2,
.maker-caption h2 {
	margin: 0;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
    text-transform: uppercase;
    padding-left: 30px;
    padding-top: 30px;
}


.button-goods,
.button-maker {
	width: 253px;
	background-color: #ee3643;
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
}

.maker-list {
	width: 220px;
}

.maker-item a {
	width: 220px;
	height: 145px;
    margin-top: 20px;
    border: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* service */

.service {
	background-color: #f3f7f9;
	margin-top: 80px;
	padding-top: 40px;
	padding-bottom: 90px;
}

.service-title {
	margin-bottom: 60px;
}

.service-title h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.service-title p {
	font-size: 13px;
	font-family: 'PT Sans', 'Arial', sans-serif;
}

.slider-service-button-1,
.slider-service-button-2,
.slider-service-button-3 {
	width: 240px;
	color: #ffffff;
	background-color: #32425c;
	text-align: center;
	font-size: 21px;
	font-weight: bold;
	line-height: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
}

.slider-service-button-active {
	color: #32425c;
	background-color: #ffffff;
}

.service-slides {
	width: 379px;
	margin-left: 70px;
}

.service-slides h2 {
	color: #32425c;
	font-size: 36px;
	text-transform: uppercase;
}

.service-slides p {
	font-size: 13px;
	line-height: 24px;
	font-family: 'PT Sans', 'Arial', sans-serif;
}

.serice-button-request {
	width: 195px;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ff5357;
	text-transform: uppercase;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
}


/* --main catalog-- */

.breadcrumbs-nav-list {
	width: 360px;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: normal;
}

.breadcrumbs-nav-list {
	margin-bottom: 22px;
	margin-top: 20px;
}


.perforators h2 {
	width: 910px;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	background-color: #f2f6f8;
	color: #32425c;
    padding-left: 30px;
    padding-top: 32px;
    padding-bottom: 34px;
}

/* filtr*/

.filtr-caption {
	width: 220px;
	background-color: #f7f3ec;
	font-size: 13px;
	line-height: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	padding-left: 10px;
	border-radius: 3px;
}

legend {
	width: 141px;
	color: #000000;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 17px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
}

.filtr-maker-item  label,
.filtr-power-item  label {
	font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filtr-maker,
.filtr-power,
.filtr-price {
	border: none;
	margin: 0;
	padding: 0; 
}


.button-filtr {
	width: 140px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
    line-height: 18px;
    color: #000000;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 83px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

/* perforators-sort */

.perforators-list {
	width: 700px;
	margin-left: 20px;
}

.perforators-sort {
	background-color: #f7f3ec;
	display: flex;
}


.perforators-sort p {
	font-family: 'PT Sans', 'Arial', sans-serif;
	color: #000000;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.sort-item a {
	font-family: 'PT Sans', 'Arial', sans-serif;
	color: #000000;
	font-size: 13px;
	line-height: 18px;
	opacity: 0.3;
	border-bottom: 1px dotted #ee3643;
}

.sort-item-active a {
    opacity: 1;
	border: none;
	color: #ee3643;
}

/* perforators-model-list */

.perforators-model-list h3 {
	width: 160px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	text-align: center;
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
}

.perforators-model-item {
	width: 220px;
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
	margin-top: 20px;
}

.old-price,
.price {
   font-family: 'PT Sans', 'Arial', sans-serif;
   font-size: 17px;
   line-height: 18px;
   font-weight: bold;
   text-transform: uppercase;
}

.old-price {
	width: 67px;
	color: #999999;
	text-align: center;
}

.button-goods-buy,
.button-goods-bookmarks {
    width: 135px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.button-goods-buy {
	color: #ffffff;
	box-shadow: inset 0 -3px 0 #367315;
	background-color: #63a63e;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.button-goods-bookmarks {
    color: #32425c;
    border: 3px solid #63a63e;
    padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
}


/* perforator-page-list */

.perforators-page-item a {
	font-family: 'PT Sans', 'Arial', sans-serif;
	width: 38px;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
	text-transform: uppercase;
}

.perforators-page-item-active a {
	color: #ffffff;
	background-color: #ee3643;
}

.perforators-page-item:first-child {
	margin-left: 0;
}

.perforators-page-item {
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.perforators-page-item-next a {
	width: 140px;
}

/* about perforators */

.about-perforators {
	background-color: #f2f6f8;
	margin-bottom: -10px;
	padding-left: 100px;
}

.about-perforators-wrapper {
	width: 1200px;
	margin: 0 auto;
}

.about-perforators-caption {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	padding-top: 66px; 
}

.about-perforators-text {
	width: 911px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
	padding-bottom: 76px;
}


/* company and contacts */

.company {
	width: 520px;
}

.company h2,
.contacts h2 {
	margin: 0;
	margin-top: 80px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 30px;
}

.purchases,
.transportation,
.contacts p {
	margin: 0;
	margin-top: 26px;
	padding: 0;
	font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.transportation {
	margin-top: 24px;
	width: 395px;
	margin-bottom: 20px
}

.contacts {
	width: 300px;
}

.contacts p {
	width: 200px;
	margin-bottom: 20px;
}

.company-list {
	margin-left: 35px;
	margin-bottom: 17px;
}

.company-item {
	font-size: 18px;
	line-height: 20px;
	padding-bottom: 20px;
}

.button-company,
.button-message {
	background-color: #ee3643;
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	padding-top: 14px;
	padding-bottom: 12px;
	border-radius: 3px;
}

.button-company {
	width: 220px;
	text-align: center;
}

.button-message {
	width: 300px;
	text-align: center;
	margin-top: 40px;
}

/*=========*/
/* FooTeR */
/*=========*/

/*footer-page*/

.footer-page {
	min-height: 193px;
	background-color: #32425c;
}


.footer-caption {
	background-color: #ee3643;
	color: #ffffff;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 220px;
    padding-top: 20px;
    padding-bottom: 25px;
}

.footer-contacts p,
.footer-contacts a {
	width: 322px;
	color: #f3f7f9;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
}

.footer-contacts {
	width: 322px;
	padding-top: 32px;
	padding-left: 4px;
	margin-bottom: 49px;
}

.footer-navigation {
	width: 550px;
}

.footer-menu,
.footer-catalog {
	font-size: 18px;
	line-height: 24px;
}

.footer-menu,
.footer-catalog {
	margin-top: 41px;
}

.footer-menu {
	margin-left: 3px;
}

.footer-catalog {
	margin-left: 26px;
}

.footer-menu a {
	color: #f1f5f7;
}

.footer-catalog a {
	color: #ffd180;
}


/*footer-content*/

.footer-content {
	min-height: 107px;
	background-color: #293449;
	font-size: 16px;
	color: #ffffff;
	padding-top: 40px;
}

.copyright,
.feedback-email p,
.design p {
    margin: 0;
}

.copyright {
	width: 228px;
}

.footer-content a {
	color: #ffd180;
}

.feedback {
	width: 135px;
	margin-right: 53px;
}

.development {
	width: 96px;
}



/* popup */
.popup-map,
.form-message,
.popup-product {
	display: none;
}


 /* Сеточные стили */

/* Header */
.header-top-wrapper {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
}

.header-content-wrapper {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
}


.main-menu-list {
	display: flex;
}

/* about-us */
.about-us-wrap {
	display: flex;
	justify-content: space-between;
	width: 940px;
	margin: 0 auto;
	margin-bottom: 80px;
	padding-left: 10px;
	padding-right: 10px;
}

/* Footer */

.footer-page-wrapper {
	background-color: #32425c;
}

.footer-page {
	margin: 0 auto;
	min-height: 193px;
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
}

.footer-menu,
.footer-catalog {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.wrap-inner {
	display: flex;
	justify-content: space-between;
}

.wrap {
	display: flex;
	flex-direction: column;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
}

.footer-content-wrapper {
	background-color: #293449;
}

/* catalog */

.perforators-wrapper {
	margin: 0 auto;
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
}

.breadcrumbs-nav-list {
	display: flex;
	justify-content: space-between;
}

.wrap-inner-catalog {
	display: flex;
	justify-content: space-between;
}

.perforators-model-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.perforator-page-list {
	display: flex;
}

.maker-list {
	width: 940px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.goods,
.maker {
    width: 940px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.service-wrapper {
	width: 940px;
	margin: 0 auto;
}

.service-slides-guarantee,
.service-slides-credit {
	display: none;
}

.slides-service {
	display: flex;
}

.slider-service-button {
	display: flex;
	flex-direction: column;
}

