body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Cuprum', 'Arial', sans-serif;

    color: #000000;
    background-color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    min-width: 960px;
}

a {
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    color: #000000;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	width: 0;
	height: 0;
	border: 0;
	padding: 0; 
	font-size: 0;
	overflow: hidden;
}


/* --main-header-- */


/* header-top */

.header-top {
    margin: 0 auto;
    background-color: #293449;
    color: #ffffff;
    height: 42px;
}

.header-caption {
	display: flex;
	align-items: center;
	justify-content: center;
    background-color: #ee3643;
	color: #ffffff;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    font-size: 24px;
    text-transform: uppercase;
    width: 220px;
    height: 47px;
    padding-left: 13px;
    padding-right: 12px;
    cursor: default;
}

.search-field {
	width: 270px;
	border: none;
	padding-left: 48px;
}


.search-field,
.button-header-bookmarks,
.button-header-basket,
.button-header-order  {
    height: 42px;
    background-color: #293449;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-search {
	position: relative;
}

.search-field::placeholder {
    color: #ffffff;
}

.search-icon-svg {
	position: absolute;
	top: 12px;
	left: 17px;
}

.search-icon-svg path {
	opacity: 0.3;
}

.button-header-bookmarks,
.button-header-basket {
  position: relative;
  width: 150px;
}

.button-header-bookmarks {
  padding-left: 17px;
}

.button-header-basket {
  padding-left: 17px;
}

.button-header-bookmarks::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 17px;
	background-repeat: no-repeat;
	background-image: url(../img/icon-bookmark.svg);
	height: 16px;
	width: 14px;
	opacity: 0.3;
}

.button-header-basket::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 18px;
	background-repeat: no-repeat;
	background-image: url(../img/icon-cart.svg);
	height: 15px;
	width: 15px;
	opacity: 0.3;
}

.button-header-order {
	background-color: #63a63e;
	width: 150px;
	height: 42px;
	padding-left: 8px;
	padding-right: 8px;
}

/* hover active focus for header-top */

.header-caption:hover {
	background-color: #ca2c37;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header-caption:focus {
	outline: none;
	background-color: #ba2732;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.search-field:hover {
	background-color: #212a3a;
}

.search-field:hover+.search-icon-svg path {
    opacity: 1;
}

.search-icon-svg:hover path {
	opacity: 1;
}

.search-field:focus {
    outline: none;
    background-color: #ffffff;
    color: #000000;
}

.search-field:focus+.search-icon-svg path {
	fill: #ee3643;
	opacity: 1;
}

.button-header-bookmarks:hover,
.button-header-basket:hover {
	background-color: #212a3a;
}

.button-header-bookmarks:active,
.button-header-basket:active {
	background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.button-header-bookmarks:hover::before,
.button-header-basket:hover::before {
	opacity: 1;
}

.button-header-bookmarks:active::before,
.button-header-basket:active::before {
	opacity: 0.5;
}

.button-header-order:hover {
	background-color: #5fbb2d;
}

.button-header-order:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.6);
}

/* main-header-navigation */

.main-header-navigation {
	background-color: #f3f7f9;
	height: 280px;
}

.header-content {
	min-height: 159px;
}

.header-content h1 {
	width: 196px;
	color: #ee3643;
	font-size: 16px;
	font-style: italic;
	line-height: 23px;
	font-weight: normal;
	padding-top: 50px;
	margin-left: 52px;
	margin-top: -1px;
}

.header-contacts {
	width: 264px;
	padding-top: 46px;
	margin-right: 10px;
}

.header-contacts a {
	position: relative;
	width: 246px;
	color: #ee3643;
	font-size: 21px;
	line-height: 21px;
	border: 3px solid #ffffff;
	text-align: center;
	padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 9px;
}

.header-contacts a::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 12px;
	width: 19px;
	height: 19px;
	background-image: url(../img/icon-phone.svg);
	background-repeat: no-repeat;
}

.header-contacts p {
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	padding-top: 3px;
	text-align: center;
}

.header-login {
	margin-top: 46px;
}

.user-enter,
.user-registration,
.account-inner {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    padding-top: 14px;
    padding-bottom: 14px
}

.user-enter {
	position: relative;
    margin-right: 10px;
    padding-left: 45px;
    padding-right: 20px; 
}

.enter-icon-svg {
	position: absolute;
	content: "";
	top: 16px;
	left: 12px;
	width: 21px;
	height: 17px;
}

.enter-icon-svg path {
	fill: #c5c5c5;
}

.user-registration {
	width: 150px;
	text-align: center;
}

.account-hidden {
	margin-top: 46px;
}

.account-inner {
	position: relative;
	width: 300px;
}

.account-name {
	width: 240px;
	padding-left: 47px;
}

.account-name-svg {
	position: absolute;
	top: 17px;
	left: 13px;
	width: 20px;
	height: 18px;
}

.account-exit-svg {
	position: absolute;
	top: 19px;
    right: 10px;
	color: #c5c5c5;
	width: 20px;
	height: 17px;
}

.account-breadcrumbs {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 210px;
	font-size: 16px;
	line-height: 18px;
	margin-top: 6px;
    margin-left: 18px; 
}

.account-breadcrumbs a {
	color: #32425c;
	text-decoration: underline;
}

.account-breadcrumbs li:not(:last-child)::after {
	position: absolute;
	content: "";
	width: 4px;
	height: 4px;
	background-color: #32425c;
	border-radius: 50%;
	left: 90px;
	top: 8px;
}

/* hover active for main-header-navigation*/

.user-enter:hover,
.user-registration:hover {
	color: #ee3643;
}

.user-enter:hover path {
  fill: #32425c;
}

.user-enter:active,
.user-registration:active {
    color: rgba(0, 0, 0, 0.3);
}

.user-enter:active path {
	fill: #c5c5c5;
}

.user-enter:active+.enter-icon-svg path {
	fill: #c5c5c5; 
}

.account-name:hover path,
.account-name:hover path{
	fill: #32425c;
}

.account-name:active {
	opacity: 0.3;
}

.account-name-svg:active path {
	fill: #c5c5c5;
}

.account-breadcrumbs a:hover {
	color: #ee3643;
}

.account-breadcrumbs a:active {
	opacity: 0.3;
	color: #32425c;
}

/* main-menu */

.main-menu-wrapper {
	margin: 0 auto;
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
}

.main-menu {
    background-color: #32425c;
    box-shadow: inset 0 -5px 0 #293449;
}

.main-menu-list {
	margin: 0 auto; 
}

.main-menu-item a {
	padding-left: 30px;
    padding-right: 31px;
    font-size: 17px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 17px;
}

/* hover active for main-menu */

.main-menu-item:hover {
	background-color: #293449;
}

.main-menu-item:active {
	background-color: #1d2739;
}

.main-menu-item a:active {
	opacity: 0.5;
}

/*==============*/
/* main-content */
/*=============*/

/* product list */

.product-slider {
	width: 940px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 33px;
}

.product-item {
	position: relative;
	width: 300px;
	padding-top: 20px;
	height: 104px;
	margin-left: 16px;
	margin-bottom: 19px;
	display: inline-block;
}

.product-item:first-child {
	margin-left: 0;
}

.product-item h3 {
	width: 150px;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;
	margin: 0;
	padding-left: 23px;
}

.product-item a {
	width: 135px;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 3px;
	margin-top: 20px;
	margin-left: 25px;
}

.product-flag::after {
	content: "";
	position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: url(../img/new-flag.png);
    background-repeat: no-repeat;
}

.product-1 {
	background-color: #ffbf47;
}

.product-1::before {
	content: "";
	position: absolute;
	top: 30px;
	right: 40px;
	background-image: url(../img/icon-1.svg);
	background-repeat: no-repeat;
	width: 44px;
	height: 65px;
}

.product-2 {
	background-color: #3bbce3;
}

.product-2::after {
	content: "";
	position: absolute;
	top: 35px;
	right: 30px;
	background-image: url(../img/icon-2.svg);
	background-repeat: no-repeat;
	width: 75px;
	height: 61px;
}

.product-3 {
	background-color: #dc91d8;
}

.product-3::after {
	content: "";
	position: absolute;
	top: 30px;
	right: 30px;
	background-image: url(../img/icon-3.svg);
	background-repeat: no-repeat;
	width: 78px;
	height: 62px;
}

.product-discount {
   background-color: #8ed78f;
}

.product-discount::after {
	content: "";
	position: absolute;
	top: 30px;
	right: 38px;
	background-image: url(../img/icon-4.svg);
	background-repeat: no-repeat;
	width: 59px;
	height: 72px;
}

.product-delivery {
	background-color: #ffc047;
}

.product-delivery::after {
	content: "";
	position: absolute;
	top: 30px;
	right: 38px;
	background-image: url(../img/icon-5.svg);
	background-repeat: no-repeat;
	width: 78px;
	height: 63px;
}

.slides-catalog {
	position: relative;
	float: left;
	width: 620px;
	min-height: 266px;
	margin-left: 0;
}

.slider-1 h3,
.slider-2 h3 {
	position: absolute;
	top: -10px;
	left: 20px;
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
	text-transform: uppercase;
	color: #ffffff;
}

.slider-1 h3 {
	width: 94px;
}

.slider-2 h3 {
	width: 210px;
}

.slider-1 p,
.slider-2 p {
	position: absolute;
	top:50px;
	left: 20px;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
}

.slider-1 p {
	width: 145px;
}

.slider-2 p {
	width: 210px;
}

.slider-2 {
	display: none;
}	

.button-back {
	position: absolute;
	top: 120px;
	left: 20px;
}

.button-next {
	position: absolute;
	top: 120px;
	right: 20px;
}

.button-back,
.button-next {
	font-size: 0;
	border: 0;
	background-color: transparent;
}

.button-back::before,
.button-next::after {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	width: 22px;
	height: 40px;
	cursor: pointer;
}

.button-back::before {
	background-image: url(../img/icon-left.svg);
}

.button-next::after {
	background-image: url(../img/icon-right.svg);
	right: 5px;
}

.button-catalog {
	position: absolute;
	bottom: 25px;
	left: 20px;
	width: 195px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
}

/* hover active for product-list */

.product-item a:hover{
	background-color: rgba(0, 0, 0, 0.2);
}

.product-item a:active{
	background-color: rgba(0, 0, 0, 0.3);
}

.button-catalog:hover {
	background-color: #ca2c37;
}

.button-catalog:active {
	background-color: #ba2732;
}

/* goods and maker */

.goods-caption,
.maker-caption {
	position: relative;
	background-color: #f9f5f0;
    color: #32425c;
    width: 940px;
    margin-top: 20px;
    padding-bottom: 25px;
}

.goods-caption h2,
.maker-caption h2 {
	margin: 0;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
    text-transform: uppercase;
    padding-left: 30px;
    padding-top: 30px;
}

.button-goods,
.button-maker {
	position: absolute;
	width: 253px;
	background-color: #ee3643;
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
}

.button-goods {
	top: 23px;
	right: 20px;
}

.button-maker {
	top: 23px;
	right: 20px;
}

.maker-list {
	width: 220px;
}

.maker-item a {
	width: 220px;
	height: 145px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maker-item {
	padding-top: 20px;
}

/* hover active for goods and maker */

.button-goods:hover,
.button-maker:hover {
	background-color: #ca2c37;
}

.button-goods:active,
.button-maker:active {
	background-color: #ba2732;
}

.maker-item a:hover {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.maker-item a:active{
	box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
	opacity: 0.3;
}

/* service */

.service {
	background-color: #f3f7f9;
	margin-top: 80px;
	padding-top: 40px;
	padding-bottom: 100px;
}

.service-title {
	margin-bottom: 80px;
}

.service-title h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.service-title p {
	font-size: 13px;
	font-family: 'PT Sans', 'Arial', sans-serif;
}

.slider-service-button-1,
.slider-service-button-2,
.slider-service-button-3 {
	width: 240px;
	color: #ffffff;
	background-color: #32425c;
	text-align: center;
	font-size: 21px;
	font-weight: bold;
	line-height: 30px;
	text-align: left;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	border: 0;
	box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
	outline: none;
}

.slider-service-button-active {
	color: #32425c;
	background-color: #ffffff;
	box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
}

.slider-service-button::after {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	background-image: url(../img/service-border.png);
	top: -25px;
	right: 0;
	width: 10px;
	height: 279px;
}

.slider-service-button {
	position: relative;
	margin-top: -10px;
}

.service-slides {
	position: relative;
	width: 379px;
	margin-left: 80px;
}

.service-slides-delivery::after {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	background-image: url(../img/delivery.png);
	top: 10px;
	left: 150px;
	width: 468px;
	height: 261px;
}

.service-slides-guarantee::after {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	background-image: url(../img/guarantee.png);
	top: -15px;
	left: 235px;
	width: 389px;
	height: 283px;
}

.service-slides-credit::after {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	background-image: url(../img/credit.png);
	top: -15px;
	left: 170px;
	width: 465px;
	height: 285px;
}

.service-slides h2 {
	color: #32425c;
	font-size: 36px;
	text-transform: uppercase;
	margin-top: -10px;
}

.service-slides p {
	font-size: 13px;
	line-height: 24px;
	font-family: 'PT Sans', 'Arial', sans-serif;
}

.service-slides-credit,
.service-slides-guarantee {
	display: none;
}

.serice-button-request {
	width: 195px;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ff5357;
	text-transform: uppercase;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
}

/* hover active focus for service */

.slider-service-button-2:hover,
.slider-service-button-3:hover {
	background-color: #293449;
}

.slider-service-button-2:focus,
.slider-service-button-3:focus {
	background-color: #293449;
}

.slider-service-button-2:active,
.slider-service-button-3:active {
	color: #32425c;
	box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
	background-color: #ffffff;
}

.serice-button-request:hover {
	background-color: #ca2c37;
}

.serice-button-request:active {
	background-color: #ba2732;
}

/* company and contacts */

.company {
	width: 520px;
}

.company h2,
.contacts h2 {
	margin: 0;
	margin-top: 80px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 30px;
}

.purchases,
.transportation,
.contacts p {
	margin: 0;
	margin-top: 26px;
	padding: 0;
	font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.transportation {
	margin-top: 24px;
	width: 395px;
	margin-bottom: 20px
}

.contacts {
	width: 300px;
}

.contacts p {
	width: 200px;
	margin-bottom: 20px;
}

.company-list {
	margin-left: 35px;
	margin-bottom: 17px;
}

.company-item {
	position: relative;
	font-size: 18px;
	line-height: 20px;
	padding-bottom: 20px;
}

.company-item::before {
	content: "";
	position: absolute;
	top: 10px;
	left: -35px;
	width: 25px;
	height: 2px;
	background-color: #ee3643;
}

.button-company,
.button-message {
	background-color: #ee3643;
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	padding-top: 14px;
	padding-bottom: 12px;
	border-radius: 3px;
	text-transform: uppercase;
}

.button-company {
	width: 220px;
	text-align: center;
}

.button-message {
	width: 300px;
	text-align: center;
	margin-top: 40px;
}

/* hover active for companu and contacts */

.button-company:hover,
.button-message:hover {
	background-color: #ca2c37;
}

.button-company:active,
.button-message:active {
	background-color: #ba2732;
}

/* =============== */
/* --main catalog-- */
/* =============== */

.breadcrumbs-nav-list {
	width: 340px;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: normal;
}

.breadcrumbs-nav-item {
	position: relative;
}

.breadcrumbs-nav-item a {
	padding-left: 10px;
}

.breadcrumbs-nav-list {
	margin-bottom: 15px;
	margin-top: 20px;
}

.breadcrumbs-nav-item:first-child::before {
	content: "";
	position: absolute;
	display: block;
	top: 3px;
	left: 0;
	background-repeat: no-repeat;
	background-image: url(../img/icon-home.svg);
	width: 15px;
	height: 12px;
}

.breadcrumbs-nav-item:not(:last-child)::after {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	background-image: url(../img/icon-right-small.svg);
	width: 8px;
	height: 12px;
}

.breadcrumbs-nav-item:nth-child(1)::after {
	top: 3px;
	left: 30px;
}

.breadcrumbs-nav-item:nth-child(2)::after {
	top: 3px;
	left: 75px;
}

.breadcrumbs-nav-item:nth-child(3)::after {
	top: 3px;
	left: 105px;
}

.perforators h2 {
	width: 910px;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	background-color: #f2f6f8;
	color: #32425c;
    padding-left: 30px;
    padding-top: 32px;
    padding-bottom: 34px;
    margin-bottom: 30px;
}

/* filtr */

.perforators-filtr {
	margin-top: -13px;
}

.filtr-caption {
	width: 200px;
	height: 38px;
	background-color: #f7f3ec;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	padding-left: 10px;
	border-radius: 3px;
	display: flex;
	align-items: center;
}

.filtr-price-pin {
	position: relative;
	height: 41px;
	background-color: #f7f3ec;
	border-radius: 5px;
	padding-top: 39px;
	padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.filtr-price-pin .scale {
	height: 2px;
	background: #d7dcde;
}

.filtr-price-pin .bar {
	width: 80%;
	height: 2px;
	background: #00ca74;
}

.filtr-price-pin .range-pin {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
    background-color: #ababab; 
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.filtr-price-pin .range-pin-min {
	left: 18px;
}

.filtr-price-pin .range-pin-max {
	left: 150px;
}

.price-inner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 0;
	position: relative;
}

.price-inner input {
	display: inline-block;
	width: 95px;
	height: 38px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	text-align: center;
	border: none;
    border-radius: 5px;
    background-color: #f7f3ec;
}

.price-min input[type="text"],
.price-max input[type="text"] {
    font-size: 17px;
    line-height: 18px;
}

.price-max::before {
	content: "";
	position: absolute;
	top: 20px;
	left: 100px;
	width: 10px;
	height: 1px;
	background-color: #000000;
}

.price-inner::after {
	content: "";
	position: absolute;
	top: 63px;
	left: 0;
	width: 210px;
	height: 1px;
	background-color: #e5e5e5;
}

legend {
	width: 141px;
	color: #000000;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 17px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.filtr-maker-item  label,
.filtr-power-item  label {
	font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: 'PT Sans', 'Arial', sans-serif;
    margin-left: 30px;
}

.filtr-maker-item,
.filtr-power-item {
	position: relative;
	margin-bottom: 15px;
}

.filtr-maker,
.filtr-power,
.filtr-price {
	border: none;
	margin: 0;
	padding: 0; 
}

.filtr-price {
	margin-bottom: 40px;
}

.filtr-maker {
	margin-bottom: 30px;
}

.filtr-power {
	position: relative;
}

.filtr-power::before {
	content: "";
	position: absolute;
	bottom: 135px;
	left: 0;
	width: 210px;
	height: 1px;
	background-color: #e5e5e5;
}

.button-filtr {
	width: 140px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
    line-height: 18px;
    color: #000000;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

/* Стилизация checkbox и radio */

.filtr-maker-checkbox+label,
.filtr-power-radio+label {
	cursor: pointer;
}

.filtr-maker-checkbox+label::before,
.filtr-power-radio+label::before {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	left: 0;
	opacity: 0.7;
}

.filtr-maker-checkbox+label::before {
	width: 23px;
	height: 23px;
	background-image: url(../img/checkbox-off.svg);
}

.filtr-power-radio+label::before {
	width: 25px;
	height: 25px;
	background-image: url(../img/radio-off.svg);
}

/* hover focus for filtr-maker and filtr-power */

.filtr-maker-checkbox:focus+label,
.filtr-power-radio:focus+label {
    color: #c5c5c5;
}

.filtr-maker-checkbox:hover+label::before,
.filtr-power-radio:hover+label::before {
	opacity: 1;
}

.filtr-maker-checkbox:checked+label::before {
	width: 27px;
	height: 23;
	background-image: url(../img/checkbox-on.svg);
}

.filtr-power-radio:checked+label::before {
	width: 27px;
	height: 23px;
	background-image: url(../img/radio-on.svg);
}

/* perforators-sort */

.main-catalog {
	margin-left: 20px;
}

.perforators-list {
	width: 710px;
	height: 38px;
}

.sort-list {
	display: flex;
    padding-top: 5px;
}

.sort-item {
	padding-left: 60px;
}

.perforators-sort {
	background-color: #f7f3ec;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
}

.sort-caption {
	font-family: 'PT Sans', 'Arial', sans-serif;
	color: #000000;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	padding-left: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
}

.sort-item a {
	font-family: 'PT Sans', 'Arial', sans-serif;
	color: #000000;
	font-size: 13px;
	line-height: 18px;
	opacity: 0.3;
	border-bottom: 1px dotted #ee3643;
}

.button-sort {
	position: relative;
}

.button-sort-increase,
.button-sort-decrease {
	content: "";
	position: absolute;
	border: 11px solid rgba(0, 0, 0, 0.3);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    top: 5px;
}

.button-sort-decrease {
	transform: rotate(180deg);
}

.button-sort-increase {
	border-top-width: 0;
	bottom: 15px;
	right: 55px;
}

.button-sort-increase {
	border-bottom: 11px solid rgba(238, 54, 67, 1);;
}

.button-sort-decrease {
	border-top-width: 0;
	top: 13px;
	right: 20px;
}

.sort-item-active a {
    opacity: 1;
	border: none;
	color: #ee3643;
}

/* hover active for perforators-sort */

.sort-item a:hover {
	opacity: 1;
	border-bottom: 1px solid #ee3643;
}

.sort-item a:active {
	color: #ee3643;
	border: none;
}

.sort-item-active a:hover {
	color: rgba(0, 0, 0, 1);
	border-bottom: 1px solid #ee3643;
}

.button-sort-increase:hover,
.button-sort-decrease:hover {
     border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 11px solid rgba(0, 0, 0, 1);
}

.button-sort-increase:active,
.button-sort-decrease:active {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 11px solid rgba(238, 54, 67, 1);
}

/* perforators-model-list */

.perforators-model-list h3 {
	width: 160px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	text-align: center;
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	margin-left: 30px;
}

.perforators-model-list p {
	text-align: center;
}

.perforators-model-item {
	position: relative;
	width: 220px;
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
	margin-top: 20px;
}

.new-flag::before {
	content: "";
	position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    z-index: 20;
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.perforators-model-item .model-item-back {
	position: absolute;
	top: 45px;
	left: 45px;
	width: 135px;
    height: 95px;
    background-color: rgba(255,255,255,1);
}

.old-price,
.price {
   font-family: 'PT Sans', 'Arial', sans-serif;
   font-size: 17px;
   line-height: 18px;
   font-weight: bold;
   text-transform: uppercase;
}

.old-price {
	width: 67px;
	color: #999999;
	margin: 0 auto;
}

.price-hidden {
	font-size: 0;
}

.price {
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    color: white;
    background-color: #ee3643;
    border-radius: 3px;
    text-align: center;
}

.perforators-model-item .price::after {
	content: "";
	position: absolute;
    bottom: 19px;
    right: 5px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color: #ee3643;
    border-radius: 3px;
}

.button-goods-buy,
.button-goods-bookmarks {
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.button-goods-buy {
	position: relative;
	width: 135px;
	color: #ffffff;
	box-shadow: inset 0 -3px 0 #367315;
	background-color: #63a63e;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.button-goods-buy::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 15px;
	background-repeat: no-repeat;
	background-image: url(../img/icon-cart.svg);
	height: 15px;
	width: 15px;
	opacity: 0.3;
}

.button-goods-bookmarks {
	margin-top: 7px;
	width: 129px;
    color: #32425c;
    border: 3px solid #63a63e;
    padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
}

.perforators-model-item .model-item-back {
	display: none;
}

/* hover active perforators-model-item*/

.perforators-model-item:hover .model-item-back{
	display: block;
}

.perforators-model-item:hover img {
	opacity: 0;
}

.perforators-model-item:hover {
	box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
} 

.button-goods-buy:hover{
	background-color: #5fbb2d;
	box-shadow: inset 0 -3px 0 #367315;
}

.button-goods-buy:hover::before {
	opacity: 1;
}

.button-goods-buy:active {
	background-color: #518534;
}

.button-goods-bookmarks:hover {
	border: 3px solid #32425c;
}

.button-goods-bookmarks:active {
	border: 3px solid #32425c;
	opacity: 0.3;
}

/* perforator-page-list */

.perforators-page-item a {
	font-family: 'PT Sans', 'Arial', sans-serif;
	width: 38px;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
	text-transform: uppercase;
}

.perforators-page-item-active a {
	color: #ffffff;
	background-color: #ee3643;
}

.perforators-page-item:first-child {
	margin-left: 0;
}

.perforators-page-item {
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.perforators-page-item-next a {
	width: 140px;
}

/* hover active for perforators-page-list */

.perforators-page-item a:hover {
	border-color: #bdc6ca;
}

.perforators-page-item a:active{
	border-color: #ee3643;
}

/* about perforators */

.about-perforators {
	background-color: #f2f6f8;
	margin-bottom: -10px;
}

.about-perforators-wrapper {
	width: 940px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.about-perforators-caption {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	padding-top: 66px; 
}

.about-perforators-text {
	width: 911px;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
	padding-bottom: 76px;
}


/*=========*/
/* FooTeR */
/*=========*/

/*footer-page*/

.footer-page {
	min-height: 193px;
	background-color: #32425c;
}

.footer-caption {
	background-color: #ee3643;
	color: #ffffff;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 220px;
    padding-top: 20px;
    padding-bottom: 25px;
    cursor: default;
}

.footer-contacts p,
.footer-contacts a {
	width: 322px;
	color: #f3f7f9;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
}

.footer-contacts {
	width: 322px;
	padding-top: 32px;
	padding-left: 4px;
	margin-bottom: 49px;
	white-space: nowrap;
}

.footer-navigation {
	width: 550px;
}

.footer-menu,
.footer-catalog {
	font-size: 18px;
	line-height: 24px;
}

.footer-menu,
.footer-catalog {
	margin-top: 41px;
}

.footer-menu {
	margin-left: 3px;
}

.footer-catalog {
	margin-left: 26px;
}

.footer-menu a {
	color: #f1f5f7;
}

.footer-catalog a {
	color: #ffd180;
}

/* hover active for footer-page */

.footer-caption:hover {
	background-color: #ca2c37;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer-caption:focus {
	outline: none;
	background-color: #ba2732;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer-menu a:hover,
.footer-catalog a:hover {
	text-decoration: underline;
}

.footer-menu a:active,
.footer-catalog a:active {
	text-decoration: none;
	opacity: 0.5;
}

/*footer-content*/

.footer-content {
	min-height: 107px;
	background-color: #293449;
	font-size: 16px;
	color: #ffffff;
	padding-top: 40px;
}

.socials  {
	display: flex;
	flex-wrap: wrap;
}

.socials-item {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.socials-item-vk  {
	background-image: url(../img/icon-vk.svg);
}

.socials-item-fb {
	background-image: url(../img/icon-fb.svg);
}

.socials-item-insta {
	background-image: url(../img/icon-insta.svg);
}

.copyright,
.feedback-email p,
.design p {
    margin: 0;
}

.copyright {
	width: 228px;
	white-space: nowrap;
}

.footer-content a {
	color: #ffd180;
}

.feedback {
	width: 135px;
	margin-right: 53px;
}

.development {
	width: 96px;
}

/* hover active for footer-content */

.socials-item-vk:hover,
.socials-item-fb:hover,
.socials-item-insta:hover {
	background-color: #ee3643;
}

.feedback a:hover,
.development a:hover {
	text-decoration: underline;
}

.feedback a:active,
.development a:active {
	text-decoration: none;
	color: #ee3643;
}

/* popup */

.popup-map-wrapper {
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	z-index: 5;
}

.popup-map-wrap {
	width: 940px;
	height: 447px;
	background-color: #565656;
	box-shadow: 0 0 15px 1px rgba(47, 42, 43, 0.5);
}

.popup-map-wrap img {
	position: relative;
	z-index: 1;
}

.popup-order {
	position: relative;
	width: 620px;
	margin: 0 auto;
	height: 282px;
	background-color: #ffffff;
	box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
	z-index: 10;
}

.popup-order-inner {
	box-shadow: inset 0px 5px 0 0 #ee3643;
}

.popup-order-inner p {
	position: relative;
	width: 316px;
	font-size: 30px;
	line-height: 30px;
	padding-left: 180px;
	padding-top: 70px;
	margin-bottom: 70px;
}

.popup-order-inner p::before {
	content: "";
	position: absolute;
	background-image: url(../img/icon-mark.svg);
	background-repeat: no-repeat;
	top: 48px;
	left: 90px;
	width: 66px;
	height: 66px;
}

.popup-order-buttons {
	width: 620px;
	height: 112px;
	background-color: #f1f1f1;	
}

.popup-order-buttons-wrap {
	display: flex;
}

.button-popup-order-process,
.button-popup-order-continue {
	width: 220px;
	height: 38px;
	cursor: pointer;
	margin-top: 40px;
}

.button-popup-order-process {
	background-color: #ee3643;
	border-radius: 3px;
	border: 0;
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	margin-left: 80px;
}

.button-popup-order-continue {
	background-color: #ffffff;
	border-radius: 3px;
	color: #000000;
	font-size: 14px;
	line-height: 18px;
	margin-left: 20px;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup-order-close,
.form-message-close,
.map-close {
	outline: none;
	border: 0;
	background-color: transparent;
}

.popup-order-close::before,
.popup-order-close::after,
.form-message-close::before,
.form-message-close::after,
.map-close::before,
.map-close::after {
	position: absolute;
	content: "";
	width: 27px;
	height: 4px;
	background-color: #ee3643;
	transform: rotate(45deg);
	cursor: pointer;
	z-index: 5;
}

.popup-order-close::after,
.form-message-close::after,
.map-close::after {
	transform: rotate(-45deg);
}

.map-close::before {
	top: 40px;
	right: 15px;
}

.map-close::after {
	top: 40px;
	right: 15px;
}

.form-message-close::before {
	top: 20px;
	right: 5px;
}

.form-message-close::after {
	top: 20px;
	right: 5px;
}

.popup-order-close::before {
	top: 20px;
	right: 5px;
}

.popup-order-close::after {
	top: 20px;
	right: 5px;
}

/* form-message */

.form-message {
	position: relative;
	width: 620px;
	height: 430px;
	margin: 0 auto;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
	background-color: #ffffff;
	z-index: 6;
}

.form-message-wrapper {
	box-shadow: inset 0px 5px 0 0 #ee3643;
}

.form-message-wrapper p {
	margin: 0;
}

.form-message-wrapper label {
	font-size: 18px;
	line-height: 18px;
}

.form-message-inner input[type="text"],
.form-message-inner input[type="email"] {
	width: 220px;
	height: 36px;
	border: 2px solid #dee3e4;
	display: flex;
	margin-top: 5px;
	border-radius: 3px;
}

.form-message-field {
	padding-top: 20px;
}

.form-message-inner textarea {
	width: 452px;
	height: 114px;
	border: 2px solid #dee3e4;
	resize: none;
	margin-top: 5px;
	padding-top: 8px;
	border-radius: 3px;
}

.form-message-item::placeholder {
	font-family: 'PT Sans', 'Arial', sans-serif;
	padding-left: 15px;
	color: #a9a9a9;
	font-size: 13px;
	line-height: 18px;
}

.form-message-inner {
	width: 460px;
	margin: 0 auto;
	padding-top: 45px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.button-form-message-wrap {
	width: 620px;
	height: 112px;
	background-color: #f4f4f4;
}

.button-message-submit {
	width: 460px;
	height: 38px;
	margin-top: 35px;
	margin-left: 80px;
	color: #ffffff;
	background-color: #ee3643;
	border-radius: 3px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	border: 0;
	cursor: pointer;
}

/* hover active for popup */

.button-message-submit:hover,
.button-popup-order-process:hover {
	background-color: #ca2c37;
}

.button-message-submit:active,
.button-popup-order-process:active {
	background-color: #ba2732;
}

 /* Сеточные стили */

/* Header */
.header-top-wrapper {
	display: flex;
	margin: 0 auto;
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
}

.header-content-wrapper {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
}


.main-menu-list {
	display: flex;
	justify-content: space-between;
}

/* about-us */
.about-us-wrap {
	display: flex;
	justify-content: space-between;
	width: 940px;
	margin: 0 auto;
	margin-bottom: 80px;
	padding-left: 10px;
	padding-right: 10px;
}

/* Footer */

.footer-page-wrapper {
	background-color: #32425c;
}

.footer-page {
	margin: 0 auto;
	min-height: 193px;
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
}

.footer-menu,
.footer-catalog {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.wrap-inner {
	display: flex;
	justify-content: space-between;
}

.wrap {
	display: flex;
	flex-direction: column;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
}

.footer-content-wrapper {
	background-color: #293449;
}

/* catalog */

.perforators-wrapper {
	margin: 0 auto;
	width: 940px;
	padding-left: 10px;
	padding-right: 10px;
}

.breadcrumbs-nav-list {
	display: flex;
	justify-content: space-between;
}

.wrap-inner-catalog {
	display: flex;
	justify-content: space-between;
}

.perforators-model-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.perforator-page-list {
	display: flex;
}

.maker-list {
	width: 940px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.goods,
.maker {
    width: 940px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.service-wrapper {
	width: 940px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}

.slides-service {
	display: flex;
}

.slider-service-button {
	display: flex;
	flex-direction: column;
}
